<!DOCTYPE html>
<html lang="en" ng-app="NightLifeMainModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <!-- My Styles -->
    <link rel="stylesheet" href="css/styles.css">
    
    <script src="vendors/lodash/dist/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="vendors/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="HomePageController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/"><%= title %></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search" ng-submit="setLocation()" >
            <div class="form-group">
              <input type="text" class="form-control" ng-model="location" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="getCurrentUser()"><a href="/auth/facebook">Sign in with Facebook <i class="fa fa-facebook"></i></a></li>
            <li ng-hide="getCurrentUser()"><a href="/auth/twitter">Sign in with Twitter <i class="fa fa-twitter"></i></a></li>
            <li ng-show="getCurrentUser()"><p class="navbar-text"> Hello, {{ getCurrentUser().username }}</p></li>
            <li ng-show="getCurrentUser()"><a href="/auth/signout">Log out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>   
    
    <!-- Map and bar lists -->
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-marker ng-repeat="marker in barMarkers" coords="marker.location.coordinate" idkey="marker.id" options="marker.animationOptions" >
          <ui-gmap-window options="marker.windowOptions" closeClick="marker.closeInfoWindow()" ng-cloak> 
                <div class="infowindow-container">
                  <img ng-show="{{marker.image_url.length > 1}}" class="infowindow-image img-thumbnail img-responsive" ng-src="{{marker.image_url}}" alt="marker.name">
                  <h4 class="infowindow-heading">{{marker.name}} 
                    <span ng-hide="marker.is_closed" class="label label-success"> Open Now</span>
                    <span ng-show="marker.is_closed" class="label label-danger"> Closed Now</span>
                  </h4>
                  <div class="infowindow-businesses-details">
                    <span ng-show="{{marker.display_phone.length > 1}}">Call: <i class="fa fa-phone"></i> <a href="tel:{{marker.display_phone}}">{{marker.display_phone}}</a></span>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Word on the streets...</h3>
                    </div>
                    <div class="panel-body">
                      <p>{{ marker.snippet_text }} <a href="{{marker.url}}" target="_blank">See more...</a></p>
                      <img ng-src="{{marker.rating_img_url}}" alt="rating" class="img-responsive center-block">
                    </div>
                  </div>
                  <ul class="list-group">
                    <li ng-hide="$parent.getCurrentUser().username" class="list-group-item">Please login to inform if you are going</li>
                    <li ng-show="$parent.getCurrentUser().username && !$parent.userGoing($parent.marker, $parent.getCurrentUser().username)" class="list-group-item"><button class="btn btn-block btn-primary"  ng-click="$parent.iAmGoing($parent.marker, $parent.getCurrentUser().username)"> Are You in?</button></li>
                    <li ng-show="$parent.getCurrentUser().username && $parent.userGoing($parent.marker, $parent.getCurrentUser().username)" class="list-group-item"><button class="btn btn-block btn-danger"  ng-click="$parent.notGoing($parent.marker, $parent.getCurrentUser().username)"> Not Going?</button></li>
                    <li class="list-group-item"><span class="badge">{{marker.whoIsGoing.length}}</span>People going: </li>
                  </ul>
                </div>
          </ui-gmap-window>
      </ui-gmap-marker>              
    </ui-gmap-google-map>
      
      
    <div class="barList" ng-show="barMarkers.length > 1">
      <div class="list-group">
        <h3 class="text-center">Local bars:</h3>
        <img ng-src="images/yelp_powered_btn_red@2x.png" class="img-responsive barList-yelpBtn">
          <a href="#" class="list-group-item " ng-repeat="marker in barMarkers" ng-click="marker.openInfoWindow()">
            <div class="barList-rating"> 
              <img ng-src="{{marker.rating_img_url}}" alt="rating" class="img-responsive center-block">
              <span class="label label-info">{{marker.review_count}} Reviews</span>
            </div>
            <h4 class="list-group-item-heading">{{ marker.name }} <span class="badge">Going: {{marker.whoIsGoing.length}}</span></h4>
          </a>
       </div>
    </div>
    
	<script type="text/javascript">
	  
	  // fix the facebook url bug
		if (window.location.hash === '#_=_') window.location.hash = '#!';
		
		// pass the user object from the server so it can be used by angular
		window.user = <%- user || 'null' %>;
	</script>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    
    <!-- SubModules -->
    <script src="js/homePage/homePage.module.js"></script>
    
    <!-- Controllers -->
    <script src="js/homePage/controllers/homePage.controller.js"></script>
    
    <!-- Services -->
    <script src="js/homePage/services/homePage.service.js"></script>
    
    <!-- MainModule -->
    <script src="js/app-client.js"></script>
    
  </body>
</html>