.angular-google-map-container { height: 100vh; }

/************** 

Nav Styles

****************/

.form-group-search {
     width: 80%;
     margin: 0 auto;
     display:block;
}

.div-login {
    max-width: 250px;
    margin: 0 auto;
}

.btn-login {
    margin: 8px auto;
}


.modal-backdrop {
    z-index: 100;
}

.navbar-text {
    text-align:center;
    color: white !important;
}

/************** 

Bar List styles

*****************/    

.barList {
    position:absolute;
    top:35%;
    width: 100%;
    z-index:2;
    /* fall back color*/
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.6); 
    text-align:center;
    max-height:470px;
    overflow:scroll;
}

.barList-hide {
    position:absolute;
    top:1%;
    right:1%;
}

.barList-show {
    position:absolute;
    bottom:50px;
    right:10px;
    z-index:10;
    display: none;
}

.barList-hide:hover {
    cursor:pointer;
}

.barList-yelpBtn {
    max-width: 150px;
    margin: 0 auto 15px;
    display: block;
}

.barList-rating {
    margin-bottom: 15px;
}

.barList-loading {
     margin-top: 40px;   
}

.btn-more-info {
    margin: 10px auto 2px;
}

.list-group-item {
    /* fall back color*/
   background-color:rgb(255,255,255);
   background-color:rgba(255,255,255,0.6); 
}

/************** 

infowindow styles

*****************/
    
.infowindow-container {
    padding: 10px;
}

.infowindow-image {
    margin: 10px auto;
    display: block;
}

.infowindow-heading {
    text-align: center;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.infowindow-businesses-details {
    margin: 10px auto;
    text-align: center;
}

/*************************************** 

Tablet Styles

****************************************/
@media (min-width: 768px) {

    
    /************** 
    
    Bar List styles
    
    *****************/    

    .barList {
        right:0;
        top:25%;
        max-width:400px;
        height: 100%;
        /* fall back color*/
        
    }
    
    .barList-yelpBtn {
        max-width: 125px;
        margin: 0 auto 10px;
    }
    
    .barList-rating {
        margin-bottom:15px;
    }
}