.angular-google-map-container { height: 100vh; }

.barList {
    position:absolute;
    right:0;
    top:25%;
    z-index:3;
    height: 100%;
    max-height:400px;
    overflow:scroll;
    /* fall back color*/
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.6); 
}

.barList-yelpBtn {
    max-width: 125px;
    margin: 0 auto 10px;
    display: block;
}

.barList-rating {
    margin-bottom:10px;
}

.list-group-item {
    /* fall back color*/
   background-color:rgb(255,255,255);
   background-color:rgba(255,255,255,0.6); 
}